body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

body {
    background-image: url('https://SweatyCrayfish.github.io/images/back.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

header, footer, section {
    text-align: center;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8);
    /*backdrop-filter: blur(5px);*/
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 5px 0; /* Reduce padding to make the footer smaller */
    background: rgba(0, 0, 0, 0.9);
    font-size: 0.8em; /* Adjust the font size as necessary */
    text-align: center;
}

section.overlap-top {
    margin-top: -50px; /* Overlap amount */
    z-index: 2; /* Ensure this section overlaps the previous one */
}

@media screen and (max-width: 768px) {
    section.overlap-top {
        margin-top: -30px; /* Less overlap on smaller screens */
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    section {
        padding: 20px;
    }
}

#project-container {
    position: relative;
    height: 400px;
    width: 100%; /* Take the full width of the section */
    min-height: 300px; /* Provide enough height to avoid overlapping */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent icons from overflowing the section */
}

#project-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-icon {
    position: relative;
    margin: 0 15px; /* Space out the icons */
    opacity: 0.5; /* Non-selected icons are less opaque */
    width: 60px;  /* Increased size */
    height: 80px; /* Increased size */
    text-align: center;
    line-height: 80px; /* Adjust line height to new height for vertical centering */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Shape of a shield */
}

.project-icon:hover {
    transform: translate(calc(-50% - 30px), calc(-50% - 40px)) scale(1.1); /* The calc() adjusts the scale transform origin */
}

#project-description {
    text-align: center;
    margin-top: 20px;
}

#learn-more {
    display: block;
    margin-top: 10px;
    color: #00ff00;
    text-decoration: none;
}

#learn-more:hover {
    color: #ff00ff;
}

#rotate-left, #rotate-right {
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

a {
    color: #00ff00;
    transition: color 0.5s ease;
}

a:hover {
    color: #ff00ff;
}
